<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <appSettings>
    <!-- Serilog Sinks -->
    <add key="serilog:using:Seq" value="Serilog.Sinks.Seq" />
    <add key="serilog:write-to:Seq.serverUrl" value="" />
    <add key="serilog:write-to:Seq.apiKey" value="" />

    <!--Serilog Enrichment -->
    <add key="serilog:using:Environment" value="Serilog.Enrichers.Environment" />
    <add key="serilog:using:Process" value="Serilog.Enrichers.Process" />
    <add key="serilog:using:Thread" value="Serilog.Enrichers.Thread" />

    <!-- Serilog Properties -->
    <add key="serilog:enrich:with-property:Application" value="" />
    <add key="serilog:enrich:with-property:DeployVersion" value="Development" />
    <add key="serilog:enrich:WithThreadId" />
    <add key="serilog:enrich:WithMachineName" />
    <add key="serilog:enrich:WithProcessId" />
    <add key="serilog:enrich:WithProcessName" />
    <add key="serilog:enrich:WithEnvironmentUserName" />
  </appSettings>
</configuration>